 .header img
 {
    height : 65px;
    width : 300px;
 }
 .bar{
   
    height : 38px;
    width : 2px;

 }

 header {
  z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    padding: 0px 50px;
    background-color: transparent;
  }
  
  header.sticky {
    
    padding: 0px 50px;
    background: white;
    
  }
  
  header .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.7s;

    
  }
  
  header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header nav ul li {
    position: relative;
    list-style: none;
  }
  
  header nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700px;
    transition: 0.7s;
  }
  
  header nav ul li a:hover {
    color: #999;
  }
  
  header.sticky .logo, 
  header.sticky ul li a {
    font-size: 15px;
    color: black;
    
  }

  header.sticky img
  {
    height : 65px;
    width : 300px;
  }
  
  header.sticky button
  {
    font-size: 15px;
    height: 25px;
    /* margin-top: 2px; */
    padding-top: 2px;
    padding-bottom: 2px;

  }
  .banner {
    width: 100%;
    height: 10vh;
    /* background-size: cover; */
  }



  .nav-link {

    text-decoration: none;
    padding: 20px 0px;
    position: relative;

  }

  .navbar {
    border-bottom: 1px solid black;
  }


  .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: white;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }