.vcf
{
    
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 90px 50px;
    color  : white;
    background-size: cover;
    height : 90vh;
}
.but{

    margin-left : 110px;
}
  .vcfleft {
      
    margin-left: 0px;
  align-items: center;
    text-align: center;  
	float: left;
    margin : 50px;
    font-size: 20px;
    font-weight: 70;
  }
.subhead
{  
    margin-left: 0px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    font-weight: 50;
}
.subhead2
{  padding-bottom: 20px;
    margin-left: 0px;
} 

.vcfright {
    float: right;
    font-size: 26px;
    font-weight: 100;
    padding-top: 90px;
     /* background-color: aqua;  */
  
}

.vcfright img
{
  height : 360px;
  width : 720px;
}
